
<nav class="side-menu">
    <ul class="nav-links">
        <li>
            <a href="/"><button>All</button></a>
        </li>
        {{#each itemCategories as |category|}}
        <li>
            <a href="?category={{category}}"><button>{{category}}</button></a>
        </li>
        {{/each}}
    </ul>
</nav>

<section class="content">
    <ul class="items">
        {{#each items}}
        <li>
            <img src={{imageUrl}} alt="" height="50px" width="50px" />
            <h2>{{name}}</h2>
            <span>${{price}}</span>
            <p>{{description}}</p>
            <button>Add To Cart</button>
        </li>
        {{/each}}
    </ul>
</section>

