
<nav class="side-menu">
    <ul class="nav-links">
        <li>
            <a href="/"><button>All</button></a>
        </li>
        <li>
            <a href="?category=watersports"><button>Watersports</button></a>
        </li>
        <li>        
            <a href="?category=soccer"><button>Soccer</button></a>
        </li>
        <li>
            <a href="?category=boardgames"><button>Chess</button></a>
        </li>
    </ul>
</nav>

<section class="content">
    <p>Hi {{{username}}}, have a look at what we have for sale!</p>
    <ul class="items">
        {{#each items}}
        <li>
            <img src={{image}} alt="" height="50px" width="50px" />
            <h2>{{name}}</h2>
            <span>${{price}}</span>
            <p>{{description}}</p>
            <button>Add To Cart</button>
        </li>
        {{/each}}
    </ul>
</section>

